<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiba Mahlezana - Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Fontawsome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Boostrap styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header class="fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <h1 class="logo me-auto me-lg-0">
                <a href="#">Thiba Mahlezana</a>
            </h1>
            <nav class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Home Section -->
    <section class="home">
        <div class="container">
            <div class="h-left">
                <p>Hello, I am </p>
                <h1>Thiba Mahlezana</h1>
                <h3>Full Stack Developer</h3>
                <button class="h-button">Download Resume</button>
                <button class="h-button">Let's Talk</button>
            </div>
            <div class="h-right">
                <img src="./images/Thiba.png"/>
            </div>

            <div class="home-text">
                
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="about">
        <div class="container">
            <div class="title">
                <h1>About</h1>
                <p>All about me</p>
            </div>
            <div class="row">
                <div class="col-4 a-img">
                    <img src="./images/Thiba.png"/>
                </div>
                <div class="col-8 a-desc">
                    <h3>Full-Stack software Developer</h3>
                    <p>I am a self-taught software developer. I m passionate about technology and startups.
                        Full-Stack Developer. Intrigued with Artificial Intelligence systems. 
                        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. 
                        Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. 
                        Quia fugiat sit in iste officiis commodi quidem hic quas
                    </p>
                </div>
            </div>
            <div class="row a-skills">
                <div class="title">
                    <h2>Skills</h2>
                    <p>The Skills I have</p>
                </div>
                <div class="col-4">
                    <h4 class="a-skills-title">Frontend Development</h4>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-html5"></i>
                        </div>
                        <div class="title">
                            <h3>HTML5</h3>
                            <p>Experienced</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-css3"></i>
                        </div>
                        <div class="title">
                            <h3>CSS3</h3>
                            <p>Experienced</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-js"></i>
                        </div>
                        <div class="title">
                            <h3>Javascript</h3>
                            <p>Experienced</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div class="title">
                            <h3>React</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-bootstrap"></i>
                        </div>
                        <div class="title">
                            <h3>Bootstrap</h3>
                            <p>Experienced</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h4 class="a-skills-title">Backend Development</h4>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-node"></i>
                        </div>
                        <div class="title">
                            <h3>Node JS</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-database"></i>
                        </div>
                        <div class="title">
                            <h3>MongoDB</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-php"></i>
                        </div>
                        <div class="title">
                            <h3>PHP</h3>
                            <p>Experienced</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-database"></i>
                        </div>
                        <div class="title">
                            <h3>MySQL</h3>
                            <p>Experienced</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-python"></i>
                        </div>
                        <div class="title">
                            <h3>Python</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h4 class="a-skills-title">Extra</h4>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-database"></i>
                        </div>
                        <div class="title">
                            <h3>TensorFlow</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-database"></i>
                        </div>
                        <div class="title">
                            <h3>OpenCV</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-database"></i>
                        </div>
                        <div class="title">
                            <h3>C++</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-database"></i>
                        </div>
                        <div class="title">
                            <h3>Qt</h3>
                            <p>Beginner</p>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="icon">
                            <i class="fa-brands fa-database"></i>
                        </div>
                        <div class="title">
                            <h3>CMake</h3>
                            <p>Intermediate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Resume Section -->
    <!-- Portfolio Section -->
    <section class="portfolio">
        <div class="title">
            <h1>Portfolio</h1>
            <p>What projects I have worked on</p>
        </div>
        <div class="portfolio-items">
            <!-- Portfolio Item -->
            <div class="portfolio-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./images/system-1.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Covid-19 Monitor</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./images/system-2.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Nandi Bot</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/pic01.jpg"/>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/pic01.jpg"/>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/pic01.jpg"/>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

            <!-- Portfolio Item -->
            <div class="portfolio-item">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="images/pic01.jpg"/>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact">
        <div class="container">
            <div class="title">
                <h1>Contact</h1>
                <p>You can contact me here</p>
            </div>
            <div class="row">
                <div class="c-left col-4">
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="desc">
                            <h5>Location</h5>
                            <p>Johannesburg, Gauteng, South Africa.</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="desc">
                            <h5>Email</h5>
                            <p>thiba.ma@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="desc">
                            <h5>Phone</h5>
                            <p>+27 61 9580 694</p>
                        </div>
                    </div>
                </div>
                <div class=" col-8 c-right">
                    <input placeholder="Name" type="text"/>
                    <input placeholder="Email" type="text"/>
                    <textarea rows="3" placeholder="Message"></textarea>
                    <button class="btn">Send Message</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <h2>Thiba Mahlezana</h2>
        <p>&copy; Copyright 2022,  All rights reserved.</p>
    </footer>
    <!-- Boostrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>