* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {}

.container {
    width: 100%;
    height: 100%;
}

header {
    display: block;
    background: #e9e8e6;
    box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
    z-index: 997;
    padding: 0 10px;
}

header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header .logo a {
    text-decoration: none;
    color: #5b6b7a;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
    padding: 10px 0 10px 28px;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color:#45505b;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
}

.title  {
    text-align: center;
    color: #5b6b7a;
    margin-bottom: 30px;
}

.title h1 {
    text-transform: uppercase;
}

/*** Home Section ***/
.home {
    height: 100vh;
    background-color: #e9e8e6;;
}

.home .row {
    height: 100%;
}

.home .container {
}

.home .row {
    margin: 0;
    padding: 0;
}

.h-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h-left .intro {
    color: #5b6b7a;
    font-size: 30px;
}

.h-left .name {
    font-size: 50px;
    color: #687786;
}

.h-left .role {
    margin: 10px 0;
    color: #687786;
}

.h-btns {
    margin-top: 20px;
}

.h-right {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.h-right > img {
    width: 100%;
    position: absolute;
}

.bg {
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #8fa7be;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.h-button {
    background: #8fa7be;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    font-size: large;
    font-weight: 500;
}

/*** About Section ***/
.about {
    padding: 60px 0;
}

.a-img {
    background-color: #8fa7be;
    border-radius: 5px;
}

.a-img img {
    width: 100%;
    margin: 40px 0;
}

.a-desc {
    padding: 10px 30px;
}

.a-desc p {
    margin: 30px 0;
    font-size: 19px;
    color: #687786;
}

.a-skills {
    margin-top: 40px;
}

.a-skills-title {
    margin-bottom: 30px;
}

.skill {
    background-color: #f7f8f9;
    border-radius: 5px;
    color: #5b6b7a;
    display: flex;
    height: 60px;
    margin: 10px 0;
    transition: all ease-in-out 0.3s;
}

.skill:hover {
    box-shadow: 0px 5px 90px 0px rgb(110 123 131);
    cursor: pointer;
}

.skill .icon {
    font-size: 40px;
    width: 20%;
    text-align: center;
}

.skill .title {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.skill .title p {
    margin-left: 20px;
    margin: auto;
    font-size: smaller;
}

.skill .title p{

}

/*** Portfolio Section ***/
.portfolio {
    padding: 60px;
    background-color: #f7f8f9;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
}

.portfolio-item .card {
    margin: 10px;
    border: none;
    transition: all ease-in-out 0.3s;
}
.portfolio-item .card:hover {
    box-shadow: 0px 5px 90px 0px rgb(110 123 131);
    cursor: pointer;
}

.portfolio-item .btn {
    background: #8fa7be;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}

/*** Contact Section ***/
.contact {
    padding: 60px;
}

.contact .container {}

.contact .title {
    text-align: center;
    color: #5b6b7a;
}

.contact .title h1 {
    text-transform: uppercase;
}

.c-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-right {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.c-left .contact-item {
    color: #5b6b7a;
    margin: 10px 0;
    padding: 10px;
    display: flex;
}

.contact-item .icon {
    width: 18%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item .desc {
    line-height: 0.2rem;
}

.c-right input {
    height: 44px;
    margin: 12px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    line-height: 1.5rem;
    padding: 0.375rem 0.75rem;
}

.c-right textarea {
    border: 1px solid #ced4da;
    line-height: 1.5rem;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    margin: 12px 0;
}
.c-right .btn {
    background: #8fa7be;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    width: 250px;
    height: 50px;
}
.c-right .btn:hover {
    opacity: 0.3;
    cursor: pointer;
}

/*** Footer Section ***/
.footer {
    text-align: center;
    background-color: #f7f8f9;
    color: #45505b;
    padding: 30px 0;
}
.footer h2 {
    margin-bottom: 15px;
}

.footer p {
    margin-top: 15px;
}